hostname {{ host }}
management api http-commands
 no shutdown
username admin privilege 15 secret admin
{% for intf in uplinks %}
interface {{ intf.ifname }}
 switchport
 switchport mode trunk
 channel-group 1 mode active
 description UPLINK
{% endfor %}
{% for intf in access_auto %}
interface {{ intf.ifname }}
 switchport
 switchport mode access
 switchport access vlan 10
{% endfor %}
interface port-channel 1
 description UPLINK
vlan {{ mgmt_vlan_id }}
interface vlan {{ mgmt_vlan_id }}
 no shutdown
 ip address {{ mgmt_ip }}
ip route 0.0.0.0 0.0.0.0 {{ mgmt_gw }}
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server.host }}
{% endfor %}
