alembic==1.8.1
APScheduler==3.9.1
coverage==6.4.4
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
flask-restx==1.0.5
flask==2.2.5
Flask-SocketIO==5.3.1
gevent==21.12.0
GitPython==3.1.35
mypy==0.971
mypy-extensions==0.4.3
markupsafe==2.1.1
nornir==3.3.0
nornir-jinja2==0.2.0
nornir-napalm==0.3.0
nornir-netmiko==0.2.0
nornir-utils==0.2.0
napalm==4.0.0
nose==1.3.7
pluggy==1.0.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pytest==7.1.3
pytest-cov==3.0.0
pytest-docker-compose==3.2.1
redis==4.4.4
redis-lru==0.1.0
Sphinx==5.1.1
SQLAlchemy==1.4.41
sqlalchemy-stubs==0.4
SQLAlchemy-Utils==0.38.3
pydantic==1.10.2
Werkzeug==2.2.3
greenlet==1.1.3
