alembic==1.4.3
APScheduler==3.6.3
cachetools==4.2.4
coverage==5.3
Flask-Cors==3.0.9
Flask-JWT-Extended==3.25.0
flask-restx==0.2.0
Flask-SocketIO==5.0.0
gevent==20.9.0
GitPython==3.1.11
mypy==0.790
mypy-extensions==0.4.3
nornir==3.0.0
nornir-jinja2==0.1.1
nornir-napalm==0.1.1
nornir-netmiko==0.1.1
nornir-utils==0.1.1
napalm==3.2.0
nose==1.3.7
pluggy==0.13.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
requests==2.26.0
redis==3.5.3
redis-lru==0.1.0
Sphinx==3.3.1
SQLAlchemy==1.3.20
sqlalchemy-stubs==0.3
SQLAlchemy-Utils==0.36.8
pydantic==1.7.4
Werkzeug==1.0.1
greenlet==0.4.17
