alembic==1.4.0
APScheduler==3.6.3
coverage==5.0.3
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
flask-restx==0.1.1
Flask-SocketIO==4.2.1
gevent==1.4.0
GitPython==3.1.0
mypy==0.761
mypy-extensions==0.4.3
nornir==2.4.0
nose==1.3.7
pluggy==0.13.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
redis==3.4.1
redis-lru==0.1.0
Sphinx==2.4.3
SQLAlchemy==1.3.13
sqlalchemy-stubs==0.3
SQLAlchemy-Utils==0.36.1
pydantic==1.4
Werkzeug==0.16.1
