hostname mac-080027F60C55
interface Ethernet2
 no channel-group 1 mode active
interface Ethernet3
 no channel-group 1 mode active
no interface Vlan 600
interface Vlan 1
 ip address dhcp
 dhcp client accept default-route
 no shutdown
